.popup-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;

    .popup-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.8);
    }

    .popup-delete-confirm {
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        padding: 40px 60px 30px;
        transform: translate(-50%, -50%);

        .close-popup {
            cursor: pointer;
            height: 24px;
            width: 24px;
            position: absolute;
            right: -14px;
            top: -14px;
            text-decoration: none;
            font-size: 15px;
            font-weight: 800;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #3a464f;
            line-height: 22px;
            background: #fff;
            opacity: 1;
        }

        .popup-btn {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            border-radius: 2px;
            text-transform: uppercase;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            width: 90px;
            position: relative;
            border: 1px solid #007bff;
            color: #fff;
            margin: 0 3px;
            background-color: #007bff;

            &.popup-btn-no {
                background-color: #fff;
                border: 1px solid #007bff;
                color: #007bff;
            }
        }
    }
}